.header {
  background-color: black;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left{
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.header-right {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.header-content{
  height: 100px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 33.3%;
  transition: 0.2s;
}
.header-content:hover{
  color:black;
  background-color: whitesmoke;
}
.links{
  box-sizing: border-box;
  text-align: center;
}
.scroll:active{
  background-color: black;
  color: whitesmoke;
}
.header-text{
  font-size: 15px;
  box-sizing: border-box;
}
.current-user{
  text-align: center;
  box-sizing: border-box;
  color: white;
  height: 100%;
  padding-top: 5px;
}
.header-link{
  text-decoration: none;
  color: white;
}
.header-icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: white solid 3px;
  transition: 0.2s;
}
.header-link:hover{
  .header-icon{
    transform: scale(1.2);
  }
}


@media screen and (max-width: 599px) {
  .header {
    height: 10vh;
  }
  .header-left{
    width: 25vw;
    font-size: 10px;
  }
  .header-content{
    font-size: 30px;
    height: 100%;
  }
  .header-text{
    font-size: 10px;
    margin-bottom: 3px;
  }
  .header-icon{
    width: 40px;
    height: 40px;
  }
  .current-user{
    text-align: center;
    box-sizing: border-box;
    color: white;
  }
}

@media screen and (max-height: 660px) {
  .user-date{
    display: none;
  }
}