.header {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.header-left{
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right {
  width: 80vw;
  display: flex;
  justify-content: space-around;
}
.header-content{
  padding: 5px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 50px;
  text-align: center;
  box-sizing: border-box;
  width: 33.3%;
  transition: 0.2s;
}
.header-content:hover{
  color:black;
  background-color: whitesmoke;
}
.scroll:active{
  background-color: black;
  color: whitesmoke;
}
.header-text{
  font-size: 15px;
  margin: 5px 0;
}
.current-user{
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
  color: white;
}
.header-link{
  text-decoration: none;
  color: white;
}
.header-icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: white solid 3px;
  transition: 0.2s;
}
.header-link:hover{
  .header-icon{
    border: yellow solid 3px;
  }
}