// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.all{
  display: flex;
}
.side{
  width: 20vw;
  background-color: rgb(100, 100, 100);
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.index-date{
  font-size: 20px;
}
.side-category{
  margin-top: 10%;
  text-decoration: none;
  color: white;
  display: block;
  font-size: 20px;
  width: 65%;
  border-radius: 20px;
  text-align: center;
  height: 6%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: darkgrey solid 2px;
  outline: none;
}
.arena{
  background-color: #DE7C5A;
}

.gran{
  background-color: #AF957D;
}

.event{
  background-color: #80ADA0;
}

.gacha{
  background-color: #5F5566;
}

.doxing{
  background-color: #6F3E2D;
}
.team{
  background-color: #33202A;
}

.other{
  background-color: rgb(0, 0, 0);
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 10%;
  margin-top: 5%;
  width: 100%;
}
.search-input{
  padding: 1% 4%;
  height: 60%;
  width: 80%;
  border-radius: 20px;
  font-size: 15px;
  box-sizing: border-box;
}
.search-btn{
  margin: 15% 0 5px 0;
  height: 50%;
  width: auto;
  padding: 5%;
  color: whitesmoke;
  background-color: black;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.search-btn:hover{
  background-color: whitesmoke;
  color: black;
}

.topic-link{
  text-decoration: none;
  width: 40%;
  margin-bottom: 5%;
}
.topics{
  padding: 15px 15px 10px 15px;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.6);
  border-radius: 5px;
  color: black;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: whitesmoke;
}

.topics-date{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.topics-category {
  font-size: 13px;
  padding:5px 15px;
  border-radius: 20px;
  margin-top: 15%;
  border: whitesmoke solid 2px;
  color: white;
}
.name1{
  background-color: #8b5826f9;
}
.name2{
  background-color: #93594c;
}
.name3{
  background-color: #7c3626;
}
.name4{
  background-color: #2d080a;
}
.name5{
  background-color: #130303;
}
.name6{
  background-color: rgba(0, 0, 0, 0.6);
}
.index-user{
  display: flex;
  align-items: flex-end;
  text-align: center;
  font-size: 12px;
  right: 0px;
}
.main-left{
  width: 60vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  overflow: visible scroll;
  padding:3%;
  box-sizing: border-box;
  align-content: flex-start;
  background-color: gray;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
}
.main-left::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.main-left::after{
  content:"";
  display: block;
  width:40%;
}
.main-right{
  background-color: rgb(100, 100, 100);
  width: 20vw;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  box-sizing: border-box;
  align-content: flex-start;
}
.main{
  display: flex;
}
.show-all{
  display: flex;
  justify-content: center;
  position: relative;
}
.show-all:before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background-image: url("elest_show.jpg");
  background-size: 100vh;
  background-size:cover;
}
.show-main{
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  margin: 5% 0;
  border-radius: 5px;
  padding: 50px;
  width: 80%;
  box-sizing: border-box;
}
.show-topic-comments{
  display: flex;
  justify-content: center;
}
.show-topic{
  margin-top: 30px;
  width: 60%;
  padding: 15px 15px 5px 15px;
  background-color:rgba(255, 255, 255, 0.85);
  border: solid 2px black;
  border-radius: 10px;
}
.show-photo{
  text-align : center;
  margin-bottom: 20px;
}
.topic-image{
  border: black solid 1px;
  margin: 5px 5px 0px 5px;
}
.topic-category{
  margin: 20px 0px;
  padding: 5px 20px;
  background-color: whitesmoke;
  text-align: center;
  width: 20%;
  border: solid 1px black;
  border-radius: 50px;
  font-size: 16px;
}
.topic-title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.topic-text{
}
.topic-bottom{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}
.topic-user{
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  color: black;
  align-items: center;
  right: 10px;
}
.topic-icon{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: black solid 1px;
  margin-right: 5px;
}
.topic-new{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  background-image: url("elest_new.jpg");
  background-size: 100vw;
  background-size:cover;
}
.form-main{
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  padding: 40px 10% 20px 10%;
  border-radius: 10px;
  color: whitesmoke;
}
.f-file{
  font-size: 1px;
  display: none;
}

.f-category{
  height: 30px;
  font-size: 14px;
  width: 40%;
}
.f-title{
  height: 30px;
  font-size: 14px;
  width: 50%;
  padding: 1px 10px;
}
.f-text{
  height: 200px;
  width: 30vw;
  padding: 10px;
  font-size: 16px;
}
.checkbox{
  position:absolute;
  right: 20%;
  margin-top: 20px;
}

.f-bottom{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.rootpath{
  margin-top: 30px;
  text-align: center;
}
.rootpath-btn{
  text-decoration: none;
  font-size: 14px;
  color: whitesmoke;
  border-bottom: whitesmoke solid 1px;
}
.form{
  display: block;
  margin-top: 20px;
  background-color:rgba(255, 255, 255, 0.85);
}
.comment-main{
  display: flex;
  justify-content: center;
  width: 100%;
}
.comments{
  width: 70%;
}
.comment1{
  margin: 30px;
  padding: 15px 15px 5px 15px;
  background-color:rgba(255, 230, 230, 0.85);
  border:black solid 1px;
  border-radius: 10px;
  box-sizing: border-box;
}
.comment2{
  margin: 30px;
  padding: 15px 15px 5px 15px;
  background-color:rgba(210, 245, 255, 0.85);
  border:black solid 1px;
  border-radius: 10px;
  box-sizing: border-box;
}
.comment-user{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}
.comment-form-main{
  display: flex;
  justify-content: center;
}
.comment-form{
  background-color:rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  margin-top: 100px;
  position: relative;
}
.f-comment-text{
  width: 100%;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
}
.checkbox-comment{
  margin-top: 20px;
  position: absolute;
  right: 5%;
}
.f-submit{
  text-align: center;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: black solid 1px;
  border-radius: 20px;
  margin: 10% 0 10px 0;
  cursor: pointer;
  background-color:rgba(255, 255, 255, 0.85);
}
.f-type{
  width: 20%;
  height: 30px;
  font-size: 14px;
}
.date{
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.70);
}
.comment-none{
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}


.previews{
  height: 100px;
  background-color:rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  align-items: center;
  color: gray;
  border:gray solid 1px;
}

.topic-preview{
  border:gray solid 1px;
}

.description{
  margin-top: 5px;
  color: gray;
  font-size: 14px;
}

img{
  box-sizing: border-box;
}

.topic-date{
  display: flex;
  align-items: flex-end;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.good_after{
  border: black solid 1px;
  border-radius: 20px;
  font-size: 14px;
  padding: 3px;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 0);
}

.bad_after{
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 20px;
  font-size: 14px;
  padding: 3px;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: white;
  background-color: rgb(255, 100, 100);
}

.good_before{
  border: gray solid 1px;
  border-radius: 20px;
  font-size: 14px;
  padding: 3px;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: gray;
}
.good_icon{
  width: 20px;
}
.idx{
  margin-bottom: 10px;
}
.good{
  text-decoration: none;
}

.right-title{
  color: white;
  font-size: 20px;
  margin: 5% 0;
}
.attention{
  padding: 15px 15px 10px 15px;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.6);
  border-radius: 5px;
  color: black;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: whitesmoke;
}
.attention-link{
  text-decoration: none;
  margin-bottom: 10%;
  width: 17vw;
}
