// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.all{
  display: flex;
}
.side{
  width: 20vw;
  background-color: brown;
  height: 75vh;
  text-align: center;
}

.index-date{
  font-size: 20px;
}
.side-category{
  margin-top: 30px;
  text-decoration: none;
  color: antiquewhite;
  display: block;
  font-size: 25px;
}

.topic-link{
  text-decoration: none;
  margin-bottom: 30px;
}
.topics{
  padding: 15px;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.6);
  border-radius: 5px;
  color: black;
  font-size: 18px;
  width: 300px;
  height: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.topics-date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.topics-category{
  font-size: 14px;
  background-color: blanchedalmond;
  padding:5px 10px;
  border-radius: 20px;
}
.index-user{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  right: 0px;
}
.main-left{
  width: 60vw;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: visible scroll;
  padding:3%;
  box-sizing: border-box;
}
.main-right{
  background-color: darkgreen;
  width: 20vw;
  height: 75vh;
}
.main{
  display: flex;
}
.show-all{
  display: flex;
  justify-content: center;
}
.show-main{
  background-color: blanchedalmond;
  height: 100%;
  padding: 50px;
  width: 80%;
  box-sizing: border-box;
}
.show-topic-comments{
  display: flex;
  justify-content: center;
}
.show-topic{
  margin-top: 30px;
  width: 50%;
  padding: 0px 30px 50px 30px ;
  border: solid 2px black;
  border-radius: 10px;
  position: relative;
}
.show-photo{
  text-align : center;
}
.topic-category{
  margin: 20px 0px;
  padding: 5px 20px;
  background-color: whitesmoke;
  text-align: center;
  width: 20%;
  border: solid 1px black;
  border-radius: 50px;
  font-size: 16px;
}
.topic-title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.topic-text{
}
.topic-user{
  margin-top: 10px;
  position: absolute;
  display: flex;
  font-size: 14px;
  color: black;
  align-items: center;
  right: 10px;
}
.topic-icon{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: black solid 1px;
  margin-right: 5px;
}
.topic-new{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
}
.form-main{
  background-color: rgba(0, 0, 0, 0.295);
  position: relative;
  padding: 20px 50px 50px 50px;
}
.f-file{
  
}
.f-category{
  height: 30px;
  font-size: 14px;
  width: 20%;
}
.f-title{
  height: 30px;
  font-size: 14px;
  width: 40%;
  padding: 1px 10px;
}
.f-text{
  height: 200px;
  width: 500px;
  padding: 10px;
  font-size: 14px;
}
.checkbox{
  position:absolute;
  right: 50px;
  margin-top: 20px;
}

.f-bottom{
  display: flex;
  justify-content: center;
}
.f-submit{
  padding: 10px 20px;
}
.rootpath{
  text-align: center;
  text-decoration: none;
  color: black;
}
.form{
  display: block;
  margin-top: 20px;
  justify-content: center;
}