// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show-user-main{
  display: flex;
  background-color: whitesmoke;
}
.show-user-left{
  width: 25vw;
  background-color: gray;
  height: calc(100vh - 100px);
  text-align: center;
}
.show-user-right{
  height: calc(100vh - 100px);
  width: 75vw;
}
.show-user-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 5%;
  border: whitesmoke solid 2px;
}
.user-topics-date{
  margin-top: 20%;
}
.user-topics{
  height: calc(50vh - 50px);
  padding: 0 5px;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
}
.user-topics::-webkit-scrollbar{  /* Chrome, Safari 対応 */
display:none;
}

.notifications{
  height: calc(50vh - 50px);
  padding: 0 5px;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
}
.notifications::-webkit-scrollbar{  /* Chrome, Safari 対応 */
  display:none;
}
.user-title{
  font-size: 20px;
  font-weight: 800;
  margin-top: 5px;
}
.fa-pen-alt{
  color: green;
  margin: 0 5px;
}
.user-topic{
  margin: 10px 0;
}
.user-topic-link{
  color: black;
  font-weight: 800;
}
.user-notification{
  margin: 10px 0;
}


@media screen and (max-width: 770px) {
  .show-user-image{
    width: 100px;
    height: 100px;
  }
  .show-user-main{
    font-size: 16px;
  }
  .show-user-left{
    height: 90vh;
    width: 40vw;
  }
  .show-user-right{
    height: 90vh;
    width: 60vw;
  }
}

@media screen and (max-width: 359px) {
  .show-user-main{
    font-size: 14px;
  }
  .user-title{
    font-size: 18px;
  }
  .date-category{
    font-size: 12px;
  }
}